li{
    list-style: none;
}
.cardDetail{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardDetails-body{
    border-radius: 5px;
    border: solid;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width: 550px) {
    .cardDetail {
        flex-flow: column;
        align-items: center;
    }
    .cardDetails-body {
        margin-bottom: 0.5em;
        width: 50%;
    }
}
.button{
    border-radius: 5px;
    font-size: medium;
    padding: 8px;
    margin-bottom: 1em;
    cursor: pointer;
}
.button:hover {
    text-decoration: underline;
}
.transform {
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.3s;
}
.transform:hover {
    transform: scale(1.04);
}