<app-header [selectedTimeRange]="selectedForeCast ? 'day' : 'week'"></app-header>
<div 
class="card"
*ngIf="!selectedForeCast" >
    <ul  
    class="card-body transform" 
    *ngFor="let foreCast of (foreCasts$ | async)" 
    (click)="onSelect(foreCast)" 
    [class.selected]="foreCast=== selectedForeCast">
        <li><strong>{{ foreCast.dt_txt | date:'EEEE dd LLLL':'+0200':'fr'}}</strong></li>
        <li>à {{ foreCast.dt_txt | date:'hh'}}h</li>
        <li>
            <img
            src="../../../assets/{{foreCast.icon}}.png"
            alt="icon meteo"
            />
        </li>
        <li>{{ foreCast.temp_min | number:'1.0-0'}} °</li>
    </ul>
</div>

<app-weather-card-details 
    *ngIf="selectedForeCast" 
    [selectedDate]="selectedForeCast.dt_txt"
    (notify)="onNotify()">
    
</app-weather-card-details>
