li{
    list-style: none;
}
.card{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}
.card-body{
    border-radius: 5px;
    border: solid;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.selected{
    background-color: #b9e7fdc7;
}
.transform {
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.3s;
}
.transform:hover {
    transform: scale(1.04);
}